**/.idea/**

data.json

dist/*
dist/*/
!dist/css/
!dist/js/
!dist/index.html
!dist/img/favicon.ico
!dist/img
dist/img/*
!dist/img/low
dist/img/low/*
!dist/img/low/.gitkeep
!dist/img/medium
dist/img/medium/*
!dist/img/medium/.gitkeep